body {
   min-width:60em;
}

input[type="text"],
input[type="password"] {
   border-width:2px;
}

.events {
   margin-right:1em;
}

.events td, .events th {
   position:relative;
   padding:0 .2em 0 0;
   height:3em;
}
.events td { width:14%; }
.events th {
   width:2%;
   vertical-align:middle;
   text-align:right;
}

.events th:nth-child(odd),
.events td:nth-child(odd) {
   background:#a7a7a7;
}
.events .days th {
   background:#aaaaaa;
   text-align:center;
   font-weight:bold;
   font-size:1.2em;
}

.toright {
   width:20em;
   float:right;
}

.cact {
   position:absolute;
   right:0;
   opacity:0.1;
}
td:hover .cact {
   opacity:1;
}
.cact:first-child {
   top:0;
}
.cact:nth-child(n+2) {
   top:auto;
   bottom:0;
}
