body {
   min-width:60em;
}
aside {
   font-style:oblique;
}
#wrap-main {
   position:relative;
   padding-left:110px;
}

#nav-main {
   width:100px;
   margin-left:-110px;
   padding:20px 0;
   position:fixed;
   top:0;
   bottom:0;
   overflow:auto;

}

/*{{{ Colors */
.color-main {
   background:#d1c0dc;
   color:#9a40a5;
}
.color-secondary {
   background:#8c1a65;
   color:#d1c0dc;
}
.box-wrapped {
   box-shadow:-8px 8px 0 #9a40a5;
   padding:2em;
}
/*}}}*/

/* {{{ input */
input[type="text"],
input[type="password"] {
   border-width:2px;
}
/* }}} */

/* {{{ calendar */
.events {
   margin-right:1em;
}

.events td, .events th {
   position:relative;
   padding:0 .2em 0 0;
   height:3em;
}
.events td { width:14%; }
.events th {
   width:2%;
   vertical-align:middle;
   text-align:right;
}

.events th:nth-child(odd),
.events td:nth-child(odd) {
   background:#a7a7a7;
}
.events .days th {
   background:#aaaaaa;
   text-align:center;
   font-weight:bold;
   font-size:1.2em;
}

.toright {
   width:20em;
   float:right;
}

.cact {
   position:absolute;
   right:0;
   opacity:0.1;
}
td:hover .cact {
   opacity:1;
}
.cact:first-child {
   top:0;
}
.cact:nth-child(n+2) {
   top:auto;
   bottom:0;
}
/* }}} */
